.header {
  height: 50px;
}

.header h1 {
  text-align: left;
}

.header p {
  text-align: right;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

* {
  line-height: 1.7;
}

.firstview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background: url(../img/mv.png) no-repeat;
  color: #fff;
}

.firstview__catchcopy {
  font-size: 40px;
  font-weight: bold;
}

.firstview__catchcopy h2 {
  font-size: 15px;
  text-align: center;
}

.about {
  margin-bottom: 70px;
  background-color: black;
  color: #fff;
  padding-left: 120px;
  padding-right: 120px;
}

.about p {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

.service_container {
  display: inline-flex;
  flex-wrap: wrap;
}

.news {
  background-color: black;
  width: 100%;
  height: 50%;
}

.section__ttl {
  font-size: 30px;
  padding-top: 40px;
  text-align: left;
  left: 30px;
}

.blog {
  max-width: 1000px;
  margin: 0 auto 70px;
}

.blog__parent {
  display: flex;
  justify-content: space-between;
}

.blog__child {
  width: 30%;
}

.blog__child img {
  margin-bottom: 20px;
}

.information {
  display: flex;
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 200px;
}

.company {
  background-color: red;
  color: white;
  width: 50%;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 25%;
  margin: 0;
  padding: 0;
}

.recruit {
  background-color: black;
  color: white;
  width: 50%;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 75%;
}
